version: "3.9"

services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    command: ["--wiredTigerCacheSizeGB", "2"]

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: bench
      POSTGRES_PASSWORD: bench
      POSTGRES_DB: bench
    ports:
      - "5432:5432"
